---
layout: site_base
title: Speck&Tech
description: Speck&Tech is a community of startuppers, students, professionals and ... anyone that aims at building a network of tech enthusiasts within the Trento area
---

<div class="homepage">
  <nav>
    <ul>
      <li class="logo">
        <a href="/">
          <img src="../img/small-logo.svg" alt="logo">
        </a>
      </li>
      <li>join us:</li>
      <li><script async defer src="http://slackin-speckandtech.rhcloud.com/slackin.js"></script></li>
      <li> | <a target="_blank" href="https://www.facebook.com/speckandtech/">facebook</a></li>
      <li> | <a target="_blank" href="https://telegram.me/speckandtech">telegram</a></li>
    </ul>
  </nav>

  <section id="intro">
    <div>
      {% include animated_logo.html %}
      <h1>SPECK<span>&</span>TECH</h1>
      <p class="claim">
        <span id="claim-text"></span>
      </p>


      <div style="margin-top: 30px;">
        <span class="next-meetup">next meetup</span>
        <h3>
          Next event coming soon on
        </h3>
        <h3>
          27/02/2017 20:45 @ <a href="https://goo.gl/maps/1dcmwrdAsUD2" target="_blank">Impact Hub</a>
        </h3>
      </div>
     <!-- <a class="btn" href="https://www.eventbrite.com/e/specktech-8-speeding-up-tickets-31218942698" target="_blank">Ok, I'm in!</a> -->
     <a id="must-wait" href="https://www.facebook.com/speckandtech/?fref=ts" class="btn-facebook" target="_blank">Keep me up to date!</a>
     </div>
  </section>

  <section id="about-homepage">
    <p>
      A community of startuppers, students, professionals and... <strong>anyone</strong> that aims at building a network of tech enthusiasts within the <strong>Trento</strong> area, with the purpose of learning about and sharing new ideas regarding development, design, startups and any related topic.
    </p>
  </section>

  <section id="partners">
    <a href="http://eitdigital.eu">
      <img width="200px" height="auto" src="img/EIT-Digital.png" alt="Supported by EIT Digital">
    </a>
    <a href="http://belka.us">
      <img width="200px" height="auto" src="img/belka.svg" alt="Supported by Belka">
    </a>
    <a href="https://trento.impacthub.net/">
      <img height="80px" src="img/impact-hub-logo.png" alt="Supported by Impact Hub Trentino">
    </a>

    <a href="http://www.segata.com/">
      <img height="80px" src="img/segata-logo.png" alt="Supported by Segata">
    </a>

  </section>

  <section id="events">
    <h2>Previous issues</h2>
    {% for post in site.posts %}
    <article class="{% if forloop.first %}first{% elsif forloop.last %}last{% else %}middle{% endif %}">
      <div class="article-head">
        <p class="date">{{ post.date | date: "%b %d, %Y" }}</p>
        <h3 class="title"><a href="{{ post.url | remove_first:'/'}}" class="js-pjax">{{ post.title }}</a></h2>
      </div>
    </article>
    <hr>
    {% endfor %}
  </section>
</div>

<section id="jobs">
  <h2>Jobs</h2>
  <h4>Practix - internship</h4>
  <p>
    We are looking for an intern. He will be in charge of building new interactive cross-platform components for TouchDomain, which is developed in .Net.
  </p>
  <p>
    The internship's goal is building a technology proof-of-concept and to evaluate the person for a further collaboration.
  </p>
  We are looking for a person with knowledge in those fields:
  <ul>
    <li>
      Interface development
    </li>
    <li>
      Stand-alone development in .Net and C#
    </li>
    <li>
      Web development in Html5, Javascript, AngularJS (or any other MV* framework)
    </li>
    <li>
      Knowledge of Adobe Illustrator
    </li>
  </ul>
  <p>
    The internship will be 6 months long in Rovereto. Practix srl is a software company based in Rovereto, in the Meccatronica Hub.
  </p>
  <p>
    The company is specialised in building interfaces for big screens, interactive totems and interactive tables. <br>
    Practix was born from the Centro Ricerche Fondazione Bruno Kessler's ten years experience.
  </p>
  <p>
    <a href="http://www.practix.net/index.php/it/unisciti-a-noi/lavora-con-noi">Apply here</a>
  </p>
</section>

<div class="footer">
  {% include footer.html %}
</div>
