---
layout: site_base
title: Speck&Tech
description: Speck&Tech is a community of startuppers, students, professionals and ... that aims at building a network of tech enthusiasts within the Trento area
---

<div class="homepage">
  <nav>
    <ul>
      <li class="logo">
        <a href="/">
          <img src="../img/small-logo.svg" alt="logo">
        </a>
      </li>
      <li>join us:</li>
      <li><script async defer src="http://slackin-speckandtech.rhcloud.com/slackin.js"></script></li>
      <li> | <a target="_blank" href="https://www.facebook.com/speckandtech/">facebook</a></li>
      <li> | <a target="_blank" href="https://telegram.me/speckandtech">telegram</a></li>
    </ul>
  </nav>

  <section id="intro">
    <div>
      {% include animated_logo.html %}
      <h1>SPECK<span>&</span>TECH</h1>
      <p class="claim">
        <span id="claim-text"></span>
      </p>

      
      <div style="margin-top: 30px;">
        <span class="next-meetup">last meetup</span>
        <h3>
          Digital Cities
        </h3>
        <h3>
          12/09/2016 21:00 @ <a href="https://goo.gl/maps/1dcmwrdAsUD2" target="_blank">Impact Hub</a>*
        </h3>
      </div> 
      <a class="btn" href="https://www.eventbrite.com/e/specktech-4-digital-cities-tickets-27459271420">Ok, I'm in!</a>
    </div> 
  </section>

  <section id="about-homepage">
    <p>
      A community of startuppers, students, professionals and...<strong>anyone</strong> that aims at building a network of tech enthusiasts within the <strong>Trento</strong> area, with the purpose of learning about and sharing new ideas regarding development, design, startups and any related topic.
    </p>
  </section>

  <section id="partners">
    <a href="http://eitdigital.eu">
      <img width="200px" height="auto" src="img/EIT-Digital.png" alt="Supported by EIT Digital">
    </a> 
    <a href="http://belka.us">
      <img width="200px" height="auto" src="img/belka.svg" alt="Supported by Belka">
    </a> 
    <a href="https://trento.impacthub.net/">
      <img height="80px" src="img/impact-hub-logo.png" alt="Supported by Impact Hub Trentino">
    </a>
  </section>

  <section id="events">
    <h2>Previous issues</h2>
    {% for post in site.posts %}
    <article class="{% if forloop.first %}first{% elsif forloop.last %}last{% else %}middle{% endif %}">
      <div class="article-head">
        <p class="date">{{ post.date | date: "%b %d, %Y" }}</p>
        <h3 class="title"><a href="{{ post.url | remove_first:'/'}}" class="js-pjax">{{ post.title }}</a></h2>
      </div>
    </article>
    <hr>
    {% endfor %}
  </section>
</div>

<p style="text-align: center">
  <a href="http://funkyprize.org/">
    <img src="img/Funkyprize_banner2_468x60_tagliorosso.jpg" alt="Funky Prize">
  </a>
</p>

<div class="footer">
  {% include footer.html %}
</div>
