---
layout: site_base
title: Jobs
description: Job offers from the Speck&Tech community
---

<div>
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex align-items-center my-4">
        <a href="/">S&amp;T</a> <span class="mx-2 d-inline-block">/</span>
        <h1>{{ page.title }}</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row py-5">
      <div class="col-12 offset-lg-2 col-lg-8 text-lg">
        <p class="mt-3">
          Here are the latest job offers coming from our dear sponsors. We are constantly updating this page with new opportunities, so make sure to check it out regularly.
        </p>
      </div>
    </div>
    <div class="row mt-4 mb-5 pb-5">
      <div class="col-12">
        {% for post in site.job_offers reversed %}
          <article class="{% if forloop.first %}first{% elsif forloop.last %}last{% else %}middle{% endif %}">
            <div class="article-head">
              <p class="date">{{ post.date | date: "%b %d, %Y" }}</p>
              <h3 class="title">
                <a href="{{ post.url | remove_first:'/events' }}" class="js-pjax">{{ post.title }}</a>
              </h3>
            </div>
          </article>
          {% if forloop.last == false %}
          <hr />{% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
