---

layout: document

---

<header>

  <h2>Speck&Tech</h2>
  <h1>Retreat v6</h1>
  <p>An unforgettable weekend in the Alps with your favorite tech community.</p>
  <h2>22-24 May 2026</h2>

  <a class=cta target=_blank href=https://tinyurl.com/retreat-v6>Secure your seat now!</a>

</header>

<main>

  <section>
    <iframe yt width=100% height=360 src=https://www.youtube.com/embed/Mu372AkGfRs frameborder=0 allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </section>

  <section class="sponsors">

    <h3>
      💪<br>
      Powered by
    </h3>
    <div row class=sponsor-wrapper>
    </div>

    <h2 class=gold-sponsor>🥇 Main partner 🥇</h2>
    <div row class=sponsor-wrapper>
      <!-- <a target=_blank href=https://www.afliant.com><img src=/assets/images/sponsors/afliant.webp></a> -->
      <a class="sponsor-cta" href="mailto:sponsor@speckand.tech">
        <span>This space could be yours!</span>
        <span>Support us!</span>
      </a>
    </div>

    <h2 class=silver-sponsor>🥈 Tech experience 🥈</h2>
    <div row class=sponsor-wrapper>
      <!-- 
      <a target=_blank href=https://openmove.com><img src=/assets/images/sponsors/openmove.png></a>
      <a target=_blank href=https://www.deda.group><img src=/assets/images/sponsors/deda.png></a>
    </div>
    <div row class=sponsors>
      <a target=_blank href=https://finconsgroup.com><img src=/assets/images/sponsors/fincons.png></a>
      <a target=_blank href=https://bendingspoons.com><img src=/assets/images/sponsors/bending-spoons.png></a>
      -->
      <a class="sponsor-cta" href="mailto:sponsor@speckand.tech">
        <span>Your logo could be here!</span>
        <span>Become a sponsor!</span>
      </a>
    </div>

    <h2 class=bronze-sponsor>🥉 Talent focus 🥉</h2>
    <div row class=sponsor-wrapper>
      <!-- 
      <a target=_blank href=https://www.hotelincloud.com><img src=/assets/images/sponsors/hotel_in_cloud.png></a>
      <a target=_blank href=https://www.drenlab.com><img src=/assets/images/sponsors/drenlab.png></a>
      -->
      <a class="sponsor-cta" href="mailto:sponsor@speckand.tech">
        <span>This space could be yours!</span>
        <span>Support us!</span>
      </a>
    </div>


    <!-- <h2 class=support-sponsor>💪 Supported by 💪</h2>
    <div row class=sponsors>
      <a target=_blank href=https://www.stickermule.com><img src=/assets/images/sponsors/stickermule.png></a>
    </div>-->

  </section>

  <a class=cta target=_blank href="mailto:sponsor@speckand.tech">Become a sponsor!</a>

  <section>

    <img class=picture src=assets/images/pictures/retreat/01a.jpg>
    <img class=picture src=assets/images/pictures/retreat/02a.jpg>

  </section>

  <section>
    <h3>
      ⛺️<br>
      Why a retreat?
    </h3>

    <p>
      The <b>Speck&Tech Retreat</b> is back for its <b>6th edition</b>, and once again it’s shaping up to be an unmissable experience. On <b>May 22-24</b>, our <i>Speckers</i> will gather to reconnect, strengthen bonds, learn from one another, spark meaningful conversations around today’s hottest topics, and enjoy an <b>unforgettable weekend</b> with old friends and new faces.
    </p>

    <p>
      It all started in <a href="https://youtu.be/U8o5CL9-_98" target="_blank">2018</a>, when more than 50 participants met in Dimaro for a three-day adventure. <a href="https://youtu.be/H25jP01VOSw" target="_blank">One year later, in 2019</a>, the community grew to over 60 people. After the forced pause of the pandemic years, we brought <a href="https://youtu.be/PRhpeAC46As" target="_blank">the Retreat spirit back in 2022</a> with 80 attendees, and <a href="https://youtu.be/TZcJImCtiEA" target="_blank">in 2023</a>, we finally hit the magic number: 100 beautiful Speckers! <a href="https://youtu.be/Mu372AkGfRs" target="_blank">Last edition, in 2024</a>, we were still 100 amazing Speckers, sharing the same energy, curiosity, and passion.
    </p>

    <p>
      In <b>May 2026</b>, we return once again with the same ambition: we want to offer you a broad range of activities that will not only boost your career from a <b>professional and personal</b> point of view, but will also allow you to take a short holiday with the people you love, surrounded by a stunning environment and relaxing views.
    </p>

    <p>
      The programme covers a multitude of distinct areas, from technical and stimulating <b>talks</b> to enriching <b>workshops</b>, from <b>outdoor activities</b> in the Alps to long relaxing hours in <b>SPA and sauna</b>, from gamified visits of top <b>tech companies</b> to tasty <b>gourmet dinners.</b>
    </p>
  </section>

  <section>

    <img class=picture src=assets/images/pictures/retreat/03a.jpg>
    <img class=picture src=assets/images/pictures/retreat/04.jpg>

  </section>

  <section>
    <h3>
      🏔<br>
      Val di Sole
    </h3>

    <p>
      The Alpholiday Hotel, located between the Adamello and Stelvio parks, offers panoramic views of the Brenta Dolomites. It features three pools, a wellness centre with sauna, Turkish bath, jacuzzi, gym and beauty treatments. The restaurant serves both Trentino and classic Italian gourmet cuisine.
    </p>
  </section>

  <section>

    <img class=picture src=assets/images/pictures/retreat/05a.jpg>
    <img class=picture src=assets/images/pictures/retreat/06.jpg>

  </section>

  <section>
    <h3>
      🗓<br>
      Agenda
    </h3>

    <div class=schedule>
      <h4>Friday, May 22</h4>
      <b>Evening</b>
      <ul>
        <li><b>17.00</b><span>Transfer by train to Dimaro, Val di Sole</span></li>
        <li><b>19.00</b><span>Arrival at the hotel & check-in</span></li>
        <li><b>19.30</b><span>Welcome aperitivo</span></li>
        <li><b>20.00</b><span>Specky Gourmet Dinner</span></li>
        <li><b>21.30</b><span>Wellness area & pool</span></li>
        <li><b>23.30</b><span>DJ Disco night</span></li>
      </ul>
    </div>

    <div class=schedule>
      <h4>Saturday, May 23</h4>
      <b>Morning</b>
      <ul>
        <li><b>08.00</b><span>Energizing Breakfast</span></li>
        <li><b>10.00</b></span>Outdoor activities</span></li>
      </ul>
      <b>Afternoon</b>
      <ul>
        <li><b>13.30</b><span>Lunch all together</span></li>
        <li><b>14.30</b><span>Outdoor sports & sunbathing</span></li>
        <li><b>18.00</b><span>Back to the hotel & relax time</span></li>
      </ul>
      <b>Evening</b>
      <ul>
        <li><b>20.00</b><span>Traditional Gourmet Dinner</span></li>
        <li><b>21.30</b><span>Wellness area & relax time</span></li>
        <li><b>22.30</b><span>Board games night</span></li>
      </div>

      <div class=schedule>
        <h4>Sunday, May 24</h4>
        <b>Morning</b>
        <ul>
          <li><b>07.30</b><span>Energizing Breakfast</span></li>
          <li><b>09.00</b><span>Registration to the event</span></li>
          <li><b>09.30</b><span>Official Welcome</span></li>
          <li><b>10.00</b><span>Keynote speech</span></li>
          <li><b>10.30</b><span>Reverse pitch by sponsors</span></li>
          <li><b>11.00</b><span>Talks & workshops</span></li>
        </ul>
        <b>Afternoon</b>
        <ul>
          <li><b>13.30</b><span>Networking Lunch</span></li>
          <li><b>14.30</b><span>Gamified Company Tour</span></li>
          <li><b>16.00</b><span>Checkout and merendina</span></li>
          <li><b>16.30</b><span>Transit by train back to Trento</span></li>
        </ul>
      </div>
    </section>

    <section>

      <img class=picture src=assets/images/pictures/retreat/07.jpg>
      <img class=picture src=assets/images/pictures/retreat/08a.jpg>

    </section>

    <section>
      <h3>
        💰<br>
        Costs
      </h3>

      <p>
        The participation fee includes:
      </p>
      <ul>
        <li><b>2 nights</b> at AlpHoliday Hotel ****</li>
        <li>Single bed in a triple room</li>
        <li><b>Transfer</b> to and from Dimaro by train</li>
        <li><b>2 Traditional Gourmet Dinners</b> at the hotel</li>
        <li>1 Outdoor Lunch on Saturday </li>
        <li><b>1 Networking Business Lunch</b> on Sunday</li>
        <li>2 continental breakfasts</li>
        <li>Drinks (1/4 wine | beer + 1/2 water per meal)</li>
        <li><b>Wellness area and SPA</b> (with a personal towel)</li>
        <li>Swag and unlimited fun</li>
      </ul>
      <p>
        The participation fee <u>does not</u> include:
      </p>
      <ul>
        <li>Transport from your location to Trento (and back)</li>
        <li>Visitor's tax (€ 2,50 per person, per day)</li>
        <li>Outdoor activity of your choice (<i>optional</i>)</li>
        <li>Upgrade to double room (<i>optional</i>, € 25,00 per person, per day, limited number available)</li>
        <li>Drinks and extras not mentioned in "The registration fee includes" section</li>
      </ul>

      <div class=offers row>
        <a class=offer target=_blank href=//tinyurl.com/retreat-v6>
          <span class=title>Student</span>
          <span class=price1>150€</span>
          <span class=price2><s>180€</s></span>
        </a>
        <a class=offer target=_blank href=//tinyurl.com/retreat-v6>
          <span class=title>Professional</span>
          <span class=price1>200€</span>
          <span class=price2><s>230€</s></span>
        </a>
      </div>

    </section>

    <a class=cta target=_blank href="mailto:retreat@speckand.tech">Contact us</a>

    <section>

      <img class=picture src=assets/images/pictures/retreat/09a.jpg>
      <img class=picture src=assets/images/pictures/retreat/10a.jpg>

    </section>

    <section>
      <h3>
        🤔<br>
        FAQs
      </h3>

      <details>
        <summary>Who can attend the event and what are the selection criteria?</summary>
        <p>Everyone is welcome! However, you should be at least 18 years old, or accompanied by an adult, for legal and liability reasons. As there are limited spots available, we strongly recommend that you register as soon as possible: participants will be granted a spot on a first-come, first-served basis. The Organizing team reserves the right to approve each participant.</p>
      </details>

      <details>
        <summary>What is required in order to participate?</summary>
        <p>You are requested to complete the registration form at the <a href=https://tinyurl.com/retreat-v6 target=_blank>TicketTailor page</a>, and issue a bank transfer to the AlpHoliday Hotel in Dimaro, which covers your participation fee. You will receive all information at your email address once you complete the registration process, so <u>please check your spam folder</u>, too!</p>
      </details>

      <details>
        <summary>Why do I have to issue a bank transfer now?</summary>
        <p>We ask you to pay your participation fee in order to confirm you are attending the event, so we can fully rely on your registration, plan accordingly and provide you with the best event experience.</p>
      </details>

      <details>
        <summary>Will I need to pay anything else for the event?</summary>
        <p>The participation fee covers all costs included in <i>"The participation fee includes"</i> section above. Once attending the event, you will surely need to pay the Visitor's tax and, eventually, other costs in <i>"The participation fee does not include"</i> section.</p>
      </details>

      <details>
        <summary>What happens if I cannot attend the event after registering?</summary>
        <p>You can cancel your registration until 40 days prior to the event start (i.e. April 12), and you will get your money back. Any cancellation after this deadline for reasons of force majeure will be evaluated on a case-by-case basis.</p>
      </details>

      <details>
        <summary>What if I am not one of the first 60 successful applicants?</summary>
        <p>Given the limited spots available, we cannot guarantee the participation of each member. In case all tickets are sold out, a waiting list will be set up. If a ticket becomes available, you will be contacted automatically with further instructions on how to get it.</p>
      </details>

      <details>
        <summary>Can I choose with whom to stay in my room?</summary>
        <p>Please, do mention whom you would like to share your room with directly on the registration form at the TicketTailor page. We will do our best to fulfill all requests.</p>
      </details>

      <details>
        <summary>When do applications close?</summary>
        <p>Applications officially close on <u><b>March 8, 23:59 CET</b></u>.</p>
      </details>

      <details>
        <summary>Which outdoor activity may I attend?</summary>
        <p>We are planning some great outdoor activities for you:</p>
        <ul>
          <li><a target=_blank href=https://trentinowild.it/it/attivita/sport/rafting/rafting-power>RAFTING POWER</a></li>
          <li><a target=_blank href=https://trentinowild.it/it/attivita/sport/canyoning>CANYONING</a></li>
          <li><a target=_blank href=https://trentinowild.it/it/attivita/sport/parco-avventura/parco-avventura-2-h>PARCO AVVENTURA</a></li>
          <li><a target=_blank href=https://trentinowild.it/it/attivita/sport/paintball>PAINTBALL</a></li>
        </ul>
        <p>We have struck a <b>20% OFF the price</b>! Let us know on the TicketTailor registration form which ones you would be most interested in.</p>
      </details>

      <details>
        <summary>Do I have to attend one?</summary>
        <p>Of course not, you may also simply not attend any and just spend the day chilling outside or at the SPA.</p>
      </details>

      <details>
        <summary>What should I bring?</summary>
        <p>Regardless of the outdoor activity you will choose for Saturday, we suggest you bring a swimsuit, mountain shoes, and comfortable and warm clothes. All events are casual. More information will follow closer to the event's date.</p>
      </details>

      <details>
        <summary>Is there a discount for students?</summary>
        <p>To encourage younger Speckers to participate, we offer a limited number of student tickets at a reduced price of 150€. You have to be currently enrolled in a university to qualify for the discounted ticket (proof will be required).</p>
      </details>

      <details>
        <summary>May I attend only specific sessions or days of the event?</summary>
        <p>Not really. The event comes as a whole. Partial attendance for reasons of force majeure will be evaluated on a case-by-case basis.</p>
      </details>

      <details>
        <summary>Am I required to take holidays from my work to attend this event?</summary>
        <p>Not really, the event starts at 5 PM on Friday, when we will meet at the train station in Trento. However, we encourage you to tell your employer about this event, so they might even grant you a half-day permit because of being a company's ambassador, or record your attendance at Sunday’s conference as a learning experience.</p>
      </details>

      <details>
        <summary>Any more questions you might have?</summary>
        <p>Please email us at <a target=_blank href="mailto:retreat@speckand.tech">retreat@speckand.tech.</p>
        </details>

      </section>

      <section>

        <p>The Organizing team reserves the right to modify these FAQs, as any Terms & Conditions without notice, at any time.</p>
        <p>Last modified: 2026-01-25</p>

      </section>

    </main>

    <div overlay></div>
