---

layout: document

---

<header>

  <h2>Speck&Tech</h2>
  <h1>Retreat v6</h1>
  <p>An unforgettable weekend in the Alps with your favorite tech community.</p>
  <h2>4-6 October 2024</h2>

  <a class=cta target=_blank href=https://www.tickettailor.com/events/speckandtech/1297348>Secure your seat now</a>

</header>

<main>

  <section>
    <iframe yt width=100% height=360 src=https://www.youtube.com/embed/PRhpeAC46As frameborder=0 allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </section>

  <section>

    <h3>
      💪<br>
      Powered by
    </h3>

    <h2 class=gold-sponsor>🥇 Gold sponsor 🥇</h2>
    <div row class=sponsors>
      <a target=_blank href=https://www.afliant.com><img src=/assets/images/sponsors/afliant.webp></a>
    </div>

    <h2 class=silver-sponsor>🥈 Silver sponsors 🥈</h2>
    <div row class=sponsors>
      <a target=_blank href=https://openmove.com><img src=/assets/images/sponsors/openmove.png></a>
      <a target=_blank href=https://www.deda.group><img src=/assets/images/sponsors/deda.png></a>
    </div>
    <div row class=sponsors>
      <a target=_blank href=https://finconsgroup.com><img src=/assets/images/sponsors/fincons.png></a>
      <a target=_blank href=https://bendingspoons.com><img src=/assets/images/sponsors/bending-spoons.png></a>
    </div>

    <h2 class=bronze-sponsor>🥉 Bronze sponsors 🥉</h2>
    <div row class=sponsors>
      <a target=_blank href=https://www.hotelincloud.com><img src=/assets/images/sponsors/hotel_in_cloud.png></a>
      <a target=_blank href=https://www.drenlab.com><img src=/assets/images/sponsors/drenlab.png></a>
    </div>

    <h2 class=support-sponsor>💪 Supported by 💪</h2>
    <div row class=sponsors>
      <a target=_blank href=https://www.stickermule.com><img src=/assets/images/sponsors/stickermule.png></a>
    </div>

  </section>

  <a class=cta>Become a sponsor</a>

  <section>

    <img class=picture src=assets/images/pictures/retreat/01.jpg>
    <img class=picture src=assets/images/pictures/retreat/02.jpg>

  </section>

  <section>
    <h3>
      ⛺️<br>
      Why a retreat?
    </h3>

    <p>
      The Speck&amp;Tech Retreat is <b>THE</b> event you can't miss! On October 4-6, our Speckers will reunite to
      strengthen their relationships, learn from each other, <b>have fun</b>, discuss together trending hot topics and
      spend an <b>unforgettable weekend</b> with old and new friends.
    </p>

    <p>
      In 2018 over 50 participants gathered in Dimaro for <a href="//youtu.be/U8o5CL9-_98">a great 3-day event</a> and
      they became more than 60 <a href="//youtu.be/H25jP01VOSw">one year later, in 2019</a>. After two years of
      pandemic, we managed to bring that <b>festive spirit again</b>, and
      <a href="//youtu.be/PRhpeAC46As">in 2022 we were 80 people</a> in total! One year later, in 2023, we finally hit
      the magic number: <a href="//youtu.be/TZcJImCtiEA">100 beautiful Speckers</a>!
    </p>

    <p>
      This October we will be back for the 5th time and, as always, we want to offer you a broad range of activities
      that will not only boost your career from a
      <b>professional and personal</b> point of view, but will also allow you to take a short holiday with the people
      you love, surrounded by a stunning environment and relaxing views.
    </p>

    <p>
      The programme covers a multitude of distinct areas, from technical and stimulating <b>talks</b> to enriching
      <b>workshops</b>, from <b>outdoor activities</b> in the Alps to long relaxing hours in <b>SPA and sauna</b>, from
      gamified visits of top <b>tech companies</b> to tasty <b>gourmet dinners</b>.
    </p>
  </section>

  <section>

    <img class=picture src=assets/images/pictures/retreat/03.jpg>
    <img class=picture src=assets/images/pictures/retreat/04.jpg>

  </section>

  <section>
    <h3>
      🏔<br>
      Val di Sole
    </h3>

    <p>
      The Alpholiday Hotel, located between the Adamello and Stelvio parks, offers panoramic views of the Brenta
      Dolomites. It features three pools, a wellness centre with sauna, Turkish bath, jacuzzi, gym and beauty treatments.
      The restaurant serves both Trentino and classic Italian gourmet cuisine.
    </p>
  </section>

  <section>

    <img class=picture src=assets/images/pictures/retreat/05.jpg>
    <img class=picture src=assets/images/pictures/retreat/06.jpg>

  </section>

  <section>
    <h3>
      🗓<br>
      Agenda
    </h3>

    <div class=schedule>
      <h4>Friday, October 4</h4>
      <b>Evening</b>
      <ul>
        <li><b>17.00</b><span>Transfer by train to Dimaro, Val di Sole</span></li>
        <li><b>19.00</b><span>Arrival at AlpHoliday Dolomiti hotel & check-in</span></li>
        <li><b>20.00</b><span>Traditional Gourmet Dinner</span></li>
        <li><b>21.30</b><span>Wellness area & relax time</span></li>
        <li><b>23.00</b><span>Board games night</span></li>
      </ul>
    </div>

    <div class=schedule>
      <h4>Saturday, October 5</h4>
      <b>Morning</b>
      <ul>
        <li><b>07.30</b><span>Energizing Breakfast</span></li>
        <li><b>09.00</b><span>Registration to the event</span></li>
        <li><b>09.30</b><span>Official Welcome</span></li>
        <li><b>10.00</b><span>Keynote speeches</span></li>
        <li><b>11.15</b><span>Reverse pitch by sponsors</span></li>
      </ul>
      <b>Afternoon</b>
      <ul>
        <li><b>12.00</b><span>Networking Lunch</span></li>
        <li><b>13.30</b><span>Gamified Company Tour</span></li>
        <li><b>15.30</b><span>Talks & workshops</span></li>
        <li><b>18.00</b><span>Wrapping up & relax time</span></li>
      </ul>
      <b>Evening</b>
      <ul>
        <li><b>20.00</b><span>Specky Gourmet Dinner</span></li>
        <li><b>21.30</b><span>Wellness area & pool</span></li>
        <li><b>23.30</b><span>DJ Disco night</span></li>
      </ul>
    </div>

    <div class=schedule>
      <h4>Sunday, October 6</h4>
      <b>Morning</b>
      <ul>
        <li><b>08.00</b><span>Energizing Breakfast</span></li>
        <li><b>10.00</b></span>Outdoor activities</span></li>
      </ul>
      <b>Afternoon</b>
      <ul>
        <li><b>13.30</b><span>Packed lunch all together</span></li>
        <li><b>14.30</b><span>Wellness area & chill</span></li>
        <li><b>16.30</b><span>Transit by train back to Trento</span></li>
      </ul>
    </div>
  </section>

  <section>

    <img class=picture src=assets/images/pictures/retreat/07.jpg>
    <img class=picture src=assets/images/pictures/retreat/08.jpg>

  </section>

  <section>
    <h3>
      💰<br>
      Costs
    </h3>

    <p>
      The participation fee includes:
    </p>
    <ul>
      <li><b>2 nights</b> at AlpHoliday Hotel ****</li>
      <li>Single bed in a quadruple room</li>
      <li><b>Transfer</b> to and from Dimaro</li>
      <li><b>2 Traditional Gourmet Dinners</b> at the hotel</li>
      <li><b>1 Networking Business Lunch</b> on Saturday</li>
      <li>1 Packed Lunch on Sunday</li>
      <li>2 continental breakfasts</li>
      <li>Drinks (1/4 wine | beer + 1/2 water per meal)</li>
      <li><b>Wellness area and SPA</b> (with a personal towel)</li>
      <li>Swag and unlimited fun</li>
    </ul>
    <p>
      The participation fee <u>does not</u> include:
    </p>
    <ul>
      <li>Transport from your location to Trento (and back)</li>
      <li>Outdoor activity of your choice (<i>optional</i>)</li>
      <li>Visitor's tax (€ 2,50 per person, per day)</li>
      <li>Upgrade to double room (<i>optional</i>, € 25,00 per person, per day, limited number available)</li>
      <li>Drinks and extras not mentioned in "The registration fee includes" section</li>
    </ul>

    <div class=offers row>
      <a class=offer target=_blank href=//bit.ly/retreat-v5>
        <span class=title>Student</span>
        <span class=price1>150€</span>
        <span class=price2><s>180€</s></span>
      </a>
      <a class=offer target=_blank href=//bit.ly/retreat-v5>
        <span class=title>Professional</span>
        <span class=price1>190€</span>
        <span class=price2><s>220€</s></span>
      </a>
    </div>

  </section>

  <a class=cta>Contact us</a>

  <section>

    <img class=picture src=assets/images/pictures/retreat/09.jpg>
    <img class=picture src=assets/images/pictures/retreat/10.jpg>

  </section>

  <section>
    <h3>
      🤔<br>
      FAQs
    </h3>

    <details>
      <summary>Who can attend the event and what are the selection criteria?</summary>
      <p>Everyone is welcome! However, you should be at least 18 years old, or accompanied by an adult, for legal and liability reasons. As there are limited spots available, we strongly recommend that you register as soon as possible: participants will be granted a spot on a first-come, first-served basis. The Organizing team reserves the right to approve each participant.</p>
    </details>

    <details>
      <summary>What is required in order to participate?</summary>
      <p>You are requested to complete the registration form at the <a href=https://bit.ly/retreat-v5 target=_blank>TicketTailor page</a>, and issue a bank transfer to the AlpHoliday Hotel in Dimaro, which covers your participation fee. You will receive all information at your email address once you complete the registration process, so <u>please check your spam folder</u>, too!</p>
    </details>

    <details>
      <summary>Why do I have to issue a bank transfer now?</summary>
      <p>We ask you to pay your participation fee in order to confirm you are attending the event, so we can fully rely on your registration, plan accordingly and provide you with the best event experience.</p>
    </details>

    <details>
      <summary>Will I need to pay anything else for the event?</summary>
      <p>The participation fee covers all costs included in <i>"The participation fee includes"</i> section above. Once attending the event, you will surely need to pay the Visitor's tax and, eventually, other costs in <i>"The participation fee does not include"</i> section.</p>
    </details>

    <details>
      <summary>What happens if I cannot attend the event after registering?</summary>
      <p>You can cancel your registration until 33 days prior to the event start (i.e. September 1st), and you will get your money back. Any cancellation after this deadline for reasons of force majeure will be evaluated on a case-by-case basis.</p>
    </details>

    <details>
      <summary>What if I am not one of the first 50 successful applicants?</summary>
      <p>Given the limited spots available, we cannot guarantee the participation of each member. In case all tickets are sold out, a waiting list will be set up. If a ticket becomes available, you will be contacted automatically with further instructions on how to get it.</p>
    </details>

    <details>
      <summary>Can I choose with whom to stay in my room?</summary>
      <p>Please, do mention whom you would like to share your room with directly on the registration form at the TicketTailor page. We will do our best to fulfill all requests.</p>
    </details>

    <details>
      <summary>When do applications close?</summary>
      <p>Applications officially close on <u><b>September 27, 23:59 CET</b></u>.</p>
    </details>

    <details>
      <summary>Which outdoor activity may I attend?</summary>
      <p>We are planning some great outdoor activities for you:</p>
      <ul>
        <li><a target=_blank href=https://www.ursusadventures.it/esperienze/vie-ferrate-trentino/barba-di-fior>VIA FERRATA BARBA DI FIOR</a></li>
        <li><a target=_blank href=https://www.ursusadventures.it/esperienze/bushcraft/segreti-bosco>BUSHCRAFT</a></li>
        <li><a target=_blank href=https://www.ursusadventures.it/esperienze/orienteering-val-di-sole>ORIENTEERING</a></li>
        <li><a target=_blank href=https://www.ursusadventures.it/esperienze/paintball>PAINTBALL</a></li>
        <li><a target=_blank href=>TREKKING: no extra costs</a></li>
      </ul>
      <p>We may get an extra 10% OFF the price, if we are enough people! Let us know on the TicketTailor registration form which ones you would be most interested in.</p>
    </details>

    <details>
      <summary>Do I have to attend one?</summary>
      <p>Of course not, you may also simply not attend any and just spend the day chilling outside or at the SPA.</p>
    </details>

    <details>
      <summary>What should I bring?</summary>
      <p>Regardless of the outdoor activity you will choose for Sunday, we suggest you bring a swimsuit, mountain shoes, and comfortable and warm clothes. All events are casual. More information will follow closer to the event's date.</p>
    </details>

    <details>
      <summary>Is there a discount for students?</summary>
      <p>To encourage younger Speckers to participate, we offer a limited number of student tickets at a reduced price of 150€. You have to be currently enrolled in a university to qualify for the discounted ticket (proof will be required).</p>
    </details>

    <details>
      <summary>May I attend only specific sessions or days of the event?</summary>
      <p>Not really. The event comes as a whole. Partial attendance for reasons of force majeure will be evaluated on a case-by-case basis.</p>
    </details>

    <details>
      <summary>Am I required to take holidays from my work to attend this event?</summary>
      <p>Not really, the event starts at 5 PM on Friday, when we will meet at the train station in Trento. However, we encourage you to tell your employer about this event, so they might even grant you a half-day permit because of being a company's ambassador, or record your attendance at Saturday’s conference as a learning experience.</p>
    </details>

    <details>
      <summary>Any more questions you might have?</summary>
      <p>Please email us at retreat@speckand.tech.</p>
    </details>

  </section>

  <section>

    <p>The Organizing team reserves the right to modify these FAQs, as any Terms & Conditions without notice, at any time.</p>
    <p>Last modified: 2024-09-24</p>

  </section>

</main>

<div overlay></div>
