
{% assign event = site.data.homepage %}

<div window class="event">

  <div handle>
    <span>./next_event.snt</span>
    {% include graphics/details/window_buttons.svg %}
  </div>

  <div content>

    <div row class=event-heading>
      <div class=event-number>
        <span>{{ event.number }}</span>
      </div>
      <div class=event-title>
        <h1>{{ event.title }}</h1>
      </div>
    </div>

    <span class=event-date>{{ event.date | date: "%B %d, %Y — %H:%M" }}</span>
    <span class=event-venue>
      <a target=_blank href="{{ event.location.link }}">{{ event.location.name }}</a>
    </span>

      <div row class=event-buttons>
        {% if event.live and event.ticket_link %}
          <a target=_blank href="{{ event.ticket_link }}" class=cta>Get the tickets</a>
        {% endif %}
        {% if event.info_link %}
          <a target=_blank href="{{ event.info_link }}" class=cta-secondary>More info</a>
        {% endif %}
      </div>
  </div>

</div>
