{% if event.sponsor3 %}
  <div window class="sponsor3">

    <div handle>
      <span>./sponsor.png</span>
      {% include graphics/details/window_buttons.svg %}
    </div>

    <a content target=_blank href="{{ event.sponsor3.link }}">
      {% if event.sponsor3.title %}
        <span>{{ event.sponsor3.title }}</span>
      {% endif %}

      {% if event.sponsor3.name %}
        <span b>{{ event.sponsor3.name }}</span>
      {% endif %}

      {% if event.sponsor3.logo %}
        <img src="{{ event.sponsor3.logo }}" />
      {% endif %}
    </a>

  </div>
{% endif %}
