
<section footer>

  <aside class=info>
    <div>
      <label>Associazione culturale Speck&Tech</label>
      <span>C.F. 96106760224</span>
      <span>P.IVA IT02467530222</span>
      <span>IBAN IT31I0830401864000064406608</span>
    </div>
  </aside>

  <aside class=links>
    <div>
      <label>Pages</label>
      <a href=/about>About</a>
      <a href=/activities>Activities</a>
      <a href=/events>Events</a>
      <a href=/jobs>Jobs</a>
      <a href=/retreat>Retreat</a>
    </div>
    <div>
      <label>Social</label>
      <a href=https://instagram.com/speckandtech>Instagram</a>
      <a href=https://facebook.com/speckandtech>Facebook</a>
      <a href=https://linkedin.com/company/speck&tech>LinkedIn</a>
      <a href=https://youtube.com/@speckandtech>YouTube</a>
      <a href=https://t.me/speckandtech>Telegram</a>
    </div>
    <div>
      <label>Information</label>
      <!--<a href=/privacy>Privacy</a>-->
      <a href=/support>Support us</a>
      <a href=/code-of-conduct>Code of Conduct</a>
      <a href=mailto:comms@speckand.tech>Report an error</a>
      <a href=https://github.com/speckandtech>Contribute to the website</a>
    </div>
  </aside>

</section>
