
<nav>

  <a href=/ class=branding>
    {% include graphics/logo.svg %}
    <h1>S&T</h1>
  </a>

  <div class=links>
    <a href=/about>About</a>
    <!--<a href=/trek>Speck&Trek</a>-->
    <!--<a href=/pan-e-botoni>Pan&Botoni</a>-->
    <a href=/jobs>Jobs</a>
    <a href=/support>Support Us</a>
    <a href=/events class=cta>Events</a>
    <!--<a href=/retreat class=cta>Retreat v5</a>-->
  </div>

  <a button class=menu>
    <span bar top></span>
    <span bar middle></span>
    <span bar bottom></span>
  </a>

</nav>
