{% assign data = site.data.homepage-event %}
{% if data.type == "event" %}
  <section id="hero" style="background-image: url('{{ data.background }}')">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 logo-container {% if data.title-white %}text-white{% endif %}">{% include hero/our-brand.html %}</div>
        <div class="col-lg-5 mt-5 mt-lg-0">{% include hero/next-event.html %}</div>
      </div>
    </div>
  </section>
  {% elsif data.type == "loading" %}
  <section id="hero"
           style="background-image: url('/img/home-backgrounds/home-background.jpg')">
    <div class="container">
      <div class="row">
        <div class="col">
          {% include hero/our-brand.html %}
          <div class="text-center mt-4">
            <h4>
              <b class="text-red display-4">Loading...</b>
            </h4>
            {% if data.ticket-url != "" %}<p class="mt-5 h4">Tickets are already available on Eventbrite</p>{% endif %}
            {% if data.ticket-url != "" %}
              <a class="btn btn-primary text-white btn-lg mt-4"
                 target="_blank"
                 href="{{ data.ticket-url }}">Get your ticket!</a>
            {% else %}
              <a class="btn btn-primary text-white btn-lg mt-3"
                 target="_blank"
                 href="//t.me/speckandtech">Stay tuned!</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endif %}
