<h2>Who's hiring?</h2>

    <!-- Added 27/05/2019 -->
    <h4 class="company-name">Bending Spoons</h4>
    <h5>
        We are
    </h5>
    <p>
        <a target="_blank" href="//bendingspoons.com/">Bending Spoons</a> is the 1st IOS app developer in Europe. Despite being such a young company, we've already achieved notable results, with hundreds of millions of downloads of our apps, and millions of users active every month. Far from being satisfied, we look with excitement at the future, and believe that through smart and hard work we’ll accomplish much more.
        We invest immensely in our team, and we couldn't be more proud of each other. We are a group of extremely young, talented, and ambitious software engineers, marketers, data scientists, and graphic designers. We work from our headquarters in Milan, but also fully support remote work (some of us reside in Copenhagen and Berlin).
        We're always on the lookout for people that want to be part of our über-challenging journey to become the most successful app creators in the world.
    </p>

    <h5>
        Open positions
    </h5>
    <ul>
        <li>
            <h5>Backend Engineer</h5>
            <p>
                We’re aiming to become the #1 in the world at developing and publishing mobile apps. How could software engineering not be at the very core of this enormously ambitious mission? Already serving tens of millions of users and adding hundreds of thousands every day, we rely on our exceptional engineers to build next-generation tools that will make us the most effective and efficient workforce in the industry. With bigger and bigger frontiers to conquer, we’re looking for a passionate, bright, and driven software engineer that’s eager to bring our tools and infrastructure to the next level.
            </p>
            <p>
                A few examples of your responsibilities:
                <ul>
                    <li>Take an active role in identifying the tooling and infrastructural needs of the company, and participate in defining the plan to fulfil them.</li>
                    <li>Help define the software architecture of new tools or that of new features for existing tools, and then develop them. The work spans broadly from the most infrastructure- or backend-oriented to the development of complex front-ends.</li>
                    <li>Constantly improve the quality of our tools and infrastructure by fixing bugs and refactoring the code base where necessary.</li>
                    <li>Expand our set of libraries as needed to make yourself as well as other engineers more efficient and effective.</li>
                    <li>Stay informed on new, relevant technologies and test the promising ones to make sure we don’t miss out on game-changing opportunities to boost our productivity and the enjoyment of our work.</li>
                </ul>
            </p>
            <p>
                <p class="underlined">What we offer</p>
                <ul>
                    <li><b>Huge impact</b>. Your tools and infrastructure will be powering our entire organization in its serving tens of millions of users and pursuing market domination. Will that get you out of bed excited in the morning?</li>
                    <li><b>Talented, knowledgeable colleagues</b>. You’ll get the chance to learn (and teach to!) some of the brightest and most skilled people you’ll ever meet. Your talent is going to blossom here.</li>
                    <li><b>Cool tech stack</b>. We strive to use the best, most modern tools and technologies, and when they fall short of our expectations we invent our own. It’s a geek’s paradise.</li>
                    <li><b>Own products</b>. We don’t work for clients, but only develop our own apps. Freed from politics, we can move fast and be daring.</li>
                    <li><b>Fun, young environment</b>. We have near-zero hierarchy and a very relaxed workplace. Also, we’re 28 years old on average and often hang out together, so you might actually end up making new friends!</li>
                    <li><b>Top-notch office</b>. Our office is amazing! We designed it ourselves and it goes beyond excellent functionality by offering all sorts of amenities, such as foosball tables and gaming consoles.</li>
                    <li><b>International reach</b>. Our audience is wildly international. Our company language is English. We’re a global reality.</li>
                </ul>
            </p>
            <p>
                <p class="underlined">What we look for</p>
                <ul>
                    <li><b>Passion for the topic</b>. You have a long-standing, proven passion for writing software. It’s a big plus if you have a demonstrated interest in developing tools, complex front-ends, or infrastructures.</li>
                    <li><b>Reasoning and depth of learning</b>. You’re structured and creative enough to solve most challenging problems independently, given the necessary knowledge. You learn new concepts and skills rapidly, and look to understand stuff truly in depth.</li>
                    <li><b>Drive</b>. You’re energetic, hard-working, and persevere through adversity until the job is done, and done well. You get turned on by getting results, and always aim for excellence in what you do.</li>
                    <li><b>Pragmatism</b>. Far from being too academic or obsessive in your perfectionism, you understand that, when getting things done in a competitive world, speed is often as important as quality.</li>
                    <li><b>Curiosity and initiative</b>. You love exploring and you’re entrepreneurial in seeking out new opportunities and testing new ideas of your own accord. You don’t just wait to be told what to do all the time.</li>
                    <li><b>Relevant experience</b>. You have at least five years of software development experience, or at least three of work on tools or infrastructures. Only challenging, significant projects count.</li>
                    <li><b>Attention to detail</b>. You care to develop quality user experiences for your colleagues, go the extra mile to learn what they need, and tend to notice the details that make a difference.</li>
                    <li><b>Diligence, organization</b>. You can blindly be entrusted with big responsibilities as well as small, more menial tasks.</li>
                    <li><b>Humbleness</b>. You’re down to earth, eager to listen to people’s feedback and constructive criticism, and ready to get your hands dirty with whatever the team needs to succeed.</li>
                    <li><b>Proficient in English</b>. You read and write proficiently, and speak at a conversational level in English.</li>
                </ul>
            </p>
            <p class="underlined">
                Commitment & contract
            </p>
            <p>Full-time, permanent (tempo indeterminato).</p>
            <p class="underlined">Location</p>
            <p>
                Milan, Corso Como 15. It’s fine if you prefer to work remotely sometimes. We offer substantial support for relocation, including finding an apartment in Milan and paying the rent for twelve weeks.
            </p>
            <p class="underlined">Compensation & benefits</p>
            <p>Generous, top of market, and moreover can grow very rapidly and include stock options, depending on your performance. Breakfast, lunch, and snacks are paid-for, when you work from the office. You’ll receive the latest Mac, iPhone, and wireless noise-cancelling Bose headset.</p>
            <p>
                <b>IMPORTANT NOTICE</b>
            </p>
            <p>
                <b>Please notice that only applications submitted through our website will be considered. Thank you, and apply <a target="_blank" href="//bndspn.com/2KMHGtC">here</a>.</b>
            </p>
        </li>
         <!-- Second position -->
         <li>
            <h5>Software Engineer, Mobile</h5>
            <p>
                We’re aiming to become the #1 in the world at developing and publishing mobile apps. How could software engineering not be at the very core of this enormously ambitious mission? Already serving tens of millions of users and adding hundreds of thousands every day, we rely on our exceptional engineers to keep raising the bar in terms of code quality, speed of execution, and especially user experience. With bigger and bigger frontiers to conquer, we’re looking for a passionate, bright, and driven software engineer that’s eager to bring our apps to the next level.            </p>
            <p>
                A few examples of your responsibilities:
                <ul>
                    <li>Participate in and contribute to product development and product roadmap planning. We commend taking a proactive role on and ownership of the products you work on.</li>
                    <li>Help define the software architecture of new apps or that of new features for existing apps, and then develop them. The work spans broadly from engineering and coding features to polishing world-class user interfaces.</li>
                    <li>Constantly improve the quality of our products by fixing bugs and refactoring the code base where necessary.</li>
                    <li>Expand our set of libraries as needed to make yourself as well as other engineers more efficient and effective.</li>
                    <li>Stay informed on new mobile technologies and test the promising ones to make sure we don’t miss out on game-changing opportunities to boost our productivity and the enjoyment of our work.</li>
                </ul>
            </p>
            <p>
                <p class="underlined">What we offer</p>
                <ul>
                    <li><b>Huge impact</b>. You’ll be working on products used by millions of people all around the world. The quality of your work will make a decisive difference both to the users and to Bending Spoons.</li>
                    <li><b>Talented, knowledgeable colleagues</b>. You’ll get the chance to learn (and teach to!) some of the brightest and most skilled people you’ll ever meet. Your talent is going to blossom here.</li>
                    <li><b>Cool tech stack</b>. We strive to use the best, most modern tools and technologies, and when they fall short of our expectations we invent our own. It’s a geek’s paradise.</li>
                    <li><b>Own products</b>. We don’t work for clients, but only develop our own apps. Freed from politics, we can move fast and be daring.</li>
                    <li><b>Fun, young environment</b>. We have near-zero hierarchy and a very relaxed workplace. Also, we’re 28 years old on average and often hang out together, so you might actually end up making new friends!</li>
                    <li><b>Top-notch office</b>. Our office is amazing! We designed it ourselves and it goes beyond excellent functionality by offering all sorts of amenities, such as foosball tables and gaming consoles.</li>
                    <li><b>International reach</b>. Our audience is wildly international. Our company language is English. We’re a global reality.</li>
                </ul>
            </p>
            <p>
                <p class="underlined">What we look for</p>
                <ul>
                    <li><b>Passion for the topic</b>. You have a long-standing, proven passion for writing software. It’s a big plus if you have a demonstrated interest in developing mobile apps.</li>
                    <li><b>Reasoning and depth of learning</b>. You’re structured and creative enough to solve most challenging problems independently, given the necessary knowledge. You learn new concepts and skills rapidly, and look to understand stuff truly in depth.</li>
                    <li><b>Drive</b>. You’re energetic, hard-working, and persevere through adversity until the job is done, and done well. You get turned on by getting results, and always aim for excellence in what you do.</li>
                    <li><b>Pragmatism</b>. Far from being too academic or obsessive in your perfectionism, you understand that, when getting things done in a competitive world, speed is often as important as quality.</li>
                    <li><b>Curiosity and initiative</b>. You love exploring and you’re entrepreneurial in seeking out new opportunities and testing new ideas of your own accord. You don’t just wait to be told what to do all the time.</li>
                    <li><b>Relevant experience</b>. You have at least five years of software development experience, or at least three of work on tools or infrastructures. Only challenging, significant projects count.</li>
                    <li><b>A knack for UX</b>. You care to develop quality user experiences, and tend to notice the details that make a difference.</li>
                    <li><b>Diligence, organization</b>. You can blindly be entrusted with big responsibilities as well as small, more menial tasks.</li>
                    <li><b>Humbleness</b>. You’re down to earth, eager to listen to people’s feedback and constructive criticism, and ready to get your hands dirty with whatever the team needs to succeed.</li>
                    <li><b>Proficient in English</b>. You read and write proficiently, and speak at a conversational level in English.</li>
                </ul>
            </p>
            <p class="underlined">
                Commitment & contract
            </p>
            <p>Full-time, permanent (tempo indeterminato).</p>
            <p class="underlined">Location</p>
            <p>
                Milan, Corso Como 15. It’s fine if you prefer to work remotely sometimes. We offer substantial support for relocation, including finding an apartment in Milan and paying the rent for twelve weeks.
            </p>
            <p class="underlined">Compensation & benefits</p>
            <p>Generous, top of market, and moreover can grow very rapidly and include stock options, depending on your performance. Breakfast, lunch, and snacks are paid-for, when you work from the office. You’ll receive the latest Mac, iPhone, and wireless noise-cancelling Bose headset.</p>
            <p>
                <b>IMPORTANT NOTICE</b>
            </p>
            <p>
                <b>Please notice that only applications submitted through our website will be considered. Thank you, and apply <a href="//bndspn.com/2EYqI65" target="_blank">here</a>.</b>
            </p>
        </li>
        <!-- Third position -->
        <li>
            <h5>Software Engineer, Intern</h5>
            <p>
                With tens of millions of active users, our apps already make us the only European company among the top 10 App Store developers in the world. We’re not satisfied yet, however, as our objective is becoming the #1world publisher. How could software engineering not be at the very core of this enormously ambitious mission?

                Join our quest to conquer all competition and learn from our Engineers how to create beautiful, strong code to automate processes, amaze users, or manage tons of data. We can’t wait to teach you all our secrets.
            </p>
            <p>
                Your responsibilities will vary according the team you’ll be assigned to, but you can expect to:
                <ul>
                    <li>Constantly improve the quality of our products, tools, or infrastructures by fixing bugs and refactoring the code base where necessary.</li>
                    <li>Participate in product development for our products or tools, getting a chance of witnessing how complex product roadmaps come into being.</li>
                    <li>Work closely with our Software Engineers to expand our set of libraries and make our processes ever more efficient.</li>
                    <li>Learn about new, relevant technologies and test the promising ones to make sure we don’t miss out on game-changing opportunities to boost our productivity and the enjoyment of our work.</li>
                </ul>
            </p>
            <p>
                <p class="underlined">What we offer</p>
                <ul>
                    <li><b>Talented, knowledgeable colleagues</b>. You’ll get the chance to learn from some of the brightest and most skilled people you’ll ever meet. Your talent is going to blossom here.</li>
                    <li><b>Cool tech stack</b>. We strive to use the best, most modern tools and technologies, and when they fall short of our expectations we invent our own. It’s a geek’s paradise.</li>
                    <li><b>Own products</b>. We don’t work for clients, but only develop our own apps. Freed from politics, we can move fast and be daring.</li>
                    <li><b>Fun, young environment</b>. We have near-zero hierarchy and a very relaxed workplace. Also, we’re 28 years old on average and often hang out together, so you might actually end up making new friends!</li>
                    <li><b>Top-notch office</b>. Our office is amazing! We designed it ourselves and it goes beyond excellent functionality by offering all sorts of amenities, such as foosball tables and gaming consoles.</li>
                    <li><b>International reach</b>. Our audience is wildly international. Our company language is English. We’re a global reality.</li>
                </ul>
            </p>
            <p>
                <p class="underlined">What we look for</p>
                <ul>
                    <li><b>Passion for the topic</b>. You have a long-standing, proven passion for writing software, and an academic track record proving it.</li>
                    <li><b>Reasoning and depth of learning</b>. You’re structured and creative enough to solve most challenging problems independently, given the necessary knowledge. You learn new concepts and skills rapidly, and look to understand stuff truly in depth.</li>
                    <li><b>Drive</b>. You’re energetic, hard-working, and persevere through adversity until the job is done, and done well. You get turned on by getting results, and always aim for excellence in what you do.</li>
                    <li><b>Curiosity and initiative</b>. You love exploring and you’re entrepreneurial in seeking out new opportunities and testing new ideas of your own accord. You don’t just wait to be told what to do all the time.</li>
                    <li><b>Attention to detail</b>. You care to get the small things right as well as the big ones. You’re meticulous in checking that your code will work exactly as expected.</li>
                    <li><b>Humbleness</b>. You’re down to earth, eager to listen to people’s feedback and constructive criticism, and ready to get your hands dirty with whatever the team needs to succeed.</li>
                    <li><b>Proficient in English</b>. You read and write proficiently, and speak at a conversational level in English.</li>
                </ul>
            </p>
            <p class="underlined">
                Commitment & contract
            </p>
            <p>6 months or internship contract, full-time or part-time.</p>
            <p class="underlined">Location</p>
            <p>
                    Milan, Corso Como 15. It’s fine if you prefer to work remotely sometimes. We offer substantial support for relocation, including finding an apartment in Milan and paying the rent for twelve weeks.
            </p>
            <p class="underlined">Compensation & benefits</p>
            <p>Generous, top of market, and matching your skills and potential. Breakfast, lunch, and snacks are paid-for, when you work from the office. You’ll receive the latest Mac, iPhone, and wireless noise-cancelling Bose headset, as well as any software you might need to perform at your best.</p>
            <p>
                <b>IMPORTANT NOTICE</b>
            </p>
            <p>
                Please notice that <b>only applications submitted through our website will be considered.</b> Thank you, and apply <a href="//bndspn.com/2THCqcd" target="_blank">here</a>.
            </p>
        </li>

    </ul>

  <hr class="job-offers-separator">

  <!-- Added 29/03/2019 -->
  <h4 class="company-name">OpenMove</h4>
  <h5>
    We are
  </h5>
  <p>
    OpenMove stems from the idea of <b>bringing mobility closer to people</b>, providing information and easy access to transport services.
    Our software solutions now empower more than <b>6M people</b> to move every single year.
    OpenMove is a <b>fast-growing company</b> with a strong mission and vast ambitions.
    The people in our team are the most important company asset: we believe that the intellectual property of a company lies between the ears of its members.
    Growing, and doing it in a sustainable way, is an ever-present objective for OpenMove that we pursue <b>by investing in ourselves and our products</b>, with a genuine passion for innovation.
    We are hiring new colleagues because we have a challenging plan to grow and do new amazing things and we need help to accomplish it. Our mission is demanding but lived with enthusiasm.
  </p>

  <h5>
    What we give
  </h5>
  <p>
    We want to put ourselves in the best possible working conditions, building a <b>dynamic and stimulating work environment</b> where we value everyone’s ideas. You will work on concrete projects that will have an <b>impact on people’s lives</b> and that will make you grow personally and professionally.
    We offer a comfortable workplace, IT working tools in step with the times, free food, drinks, coffee and meal vouchers. We organize moments of personal and group training, also thanks to company retreats in the mountains.
    The location is in Rovereto (TN), easily reachable both by car and by public transport.
  </p>

  <h5>
    Who we look for
  </h5>
  <p>
    We are looking for <b>highly skilled software developers</b>. We offer a full-time position with <b>open-ended</b> contract.
  </p>

  <h5>
    You will
  </h5>
  <p>
    You will work with our technical team and commit to the development, deployment and maintenance of our software solutions for <b>smart mobility</b>. You will work in a team with <b>agile</b> methodology.
    Our product is very extensive: you will work on every aspect with the technical team and you will be able to <b>learn</b> a lot of new things.
    An important component of your work will be the design of full-stack systems, the optimization of processes and the scouting of <b>new technologies</b>.
    Sometimes, your contribution in the analysis of technical documentation, in the drafting of technical-commercial offers and in project documentation will be precious.
  </p>

  <h5>
    You are
  </h5>
  <p>
    You have experience with <b>Javascript, Node.js</b> and with databases, preferably non-relational. Ideally, you have at least 5 years of work experience.
    You are <b>responsible</b> and very <b>precise</b> at work and have excellent sharing and teamworking skills.
    We use <b>many frameworks</b>, but we don’t expect you to know them all. If you want to get an idea of our stack, we work with Docker, MeteorJS, Cordova, native iOS, native Android, Nagios, MondoDB and we positively value previous experience in one or more of these skills.
    You speak Italian (B1 level) and English (B1 level).
  </p>

  <a target="_blank" href="//www.openmove.com/work-with-us/">Discover more!</a>

  <hr class="job-offers-separator">

  <!-- Added 09/03/2019 -->
  <h4 class="company-name">Dimension</h4>
  <p>DIMENSION è una società che da più di 15 anni si occupa di sviluppo mobile, ricerca in ambito AI/NLP e Blockchain, progetti nel settore fintech, health, turismo e cultura. Lavoriamo per startup e grandi società, aiutandoli a realizzare prodotti e servizi in grado di sostenere le differenti esigenze di business. </p>

  <p>Stiamo cercando una sviluppatrice o sviluppatore software per il nostro team mobile. </p>

  <p>I requisiti. </p>
  <ul>
    <li>Lavorerai su<strong>&nbsp;progetti molto complessi dove imparare cose che in pochi sanno fare.&nbsp;</strong>Siamo un team di 15 persome, uomini e donne, dove la collaborazione e le contaminazioni sono super-importanti.&nbsp;</li>
    <li>Devi saper utilizzare i principali linguaggi di programmazione e tecnologie e avere la capacità di apprenderne di nuovi. Noi usiamo&nbsp;<strong>C#, Java, Kotlin, Objective-C, Swift, e Javascript&nbsp;</strong>(NodeJS&nbsp;e&nbsp;React)&nbsp;ma ogni giorno è una nuova sfida.&nbsp;</li>
    <li><strong>Devi avere una comprensione lavorativa della lingua inglese,&nbsp;</strong>sufficiente ad ascoltare un TED Talk o arrangiarti su StackOverflow senza usare (troppo) il traduttore di Google.&nbsp;</li>
    <li><strong>Pari opportunità&nbsp;</strong>se provieni da qualsaisi angolo del mondo, per età, religione o sesso, ma abbiamo bisogno che tu sappia scrivere e leggere anche in Italiano.</li>
    <li>Ti piace cucinare, fare sollevamento pesi, binge watching su Netflix, giocare con i Lego assieme a tuo figlio? Anche a noi! Il nostro obiettivo è costruire un ambiente che permetta sempre di bilanciare al meglio lavoro e vita privata. Ma la persona che cerchiamo è&nbsp;<strong>appassionata di tecnologia</strong>, si informa nei ritagli di tempo e ha le idee migliori canticchiando sotto la doccia.&nbsp;</li>
  </ul>

  <p>Cosa offriamo.</p>
  <ul>
    <li>La retribuzione sarà concordata in base alle tue capacità e ambizioni. La durata iniziale, per conoscerci, è di&nbsp;6 mesi,&nbsp;ma la prospettiva è quella di costruire prodotti e servizi innovativi e rilevanti per i prossimi 10 anni.&nbsp;<strong>Il tuo contributo sarà fondamentale per raggiungere assieme questi risultati!</strong></li>
    <li>Abbiamo un ufficio spazioso e confortevole nel centro storico di Trento, favoriamo gli spostamenti con i mezzi pubblici, aiutiamo chi arriva da lontano.&nbsp;</li>
    <li>Dedichiamo&nbsp;<strong>il 10% del nostro tempo alla sperimentazione</strong>: vuoi realizzare un videogioco? Programmare un robot? Sperimentare su un computer quantico? Se convincerai 4 colleghi sarete pagati e vi forniremo tutto il necessario per farlo!</li>
    <li>Ti metteremo a disposizione il miglior hardware disponibile sul mercato per sviluppare.</li>
    <li>Siamo in costante crescita, abbiamo sempre premiato il lavoro del nostro team!</li>
  </ul>

  <p>Se sei interessato scrivi a&nbsp;<a href="mailto:job@dimension.it">job@dimension.it</a>&nbsp;e raccontaci brevemente cosa sai fare o perchè sei interessato a questo lavoro!</p>

  <hr class="job-offers-separator">
