<a href="https://vetrinalavoro.investintrentino.it/" class="d-block cursor-pointer no-underline rounded-3 mt-4">
  <!-- <div class="p-5 text-bg-dark rounded-3 img_background_cover d-flex align-items-center" -->
  <div class="p-3 p-sm-5 text-bg-dark rounded-3 img_background_cover d-block"
    style="background-image: url(/img/bg_banner_job_offer.webp)">
    <div class="bg-shadow"></div>
    <div>
      <img class="img-fluid" src="/img/invest_logo.png" alt="" />
    </div>
    <div class="ps-3 mt-3">
      <h2>Offerte di lavoro bellissime</h2>
      <p class="fs-sm-5">
        We have partnered with Investintrentino to promote on our website a curated selection of high-tech job positions
        that are published on the Trentino Lavoro portal by
        companies supported by Trentino Sviluppo. Only with the best talents can we make local companies grow!
      </p>
      <div class="btn btn-outline-light">Look at the offers</div>
    </div>
  </div>
</a>
