<a href="https://vetrinalavoro.investintrentino.it/" class="d-block cursor-pointer no-underline rounded-3 mt-4">
  <div class="mega_job_banner p-4 p-sm-5 text-bg-dark rounded-3 img_background_cover d-block"
    style="background-image: url(/img/bg_banner_job_offer.webp)">
    <div class="bg-shadow"></div>
    <div class="mega_job_banner--logo p-sm-3">
      <div class="bg-light p-3 p-sm-3">
        <img class="img-fluid" src="/img/invest_logo.png" alt="Invest in Trentino logo" />
      </div>
    </div>
    <div class="ps-sm-3 mt-5 mt-sm-3">
      <h2>Cool job offers in Trentino!</h2>
      <p class="fs-5 fs-sm-5 mt-3">
        We have partnered with Investintrentino to promote on our website a curated selection of high-tech job positions
        that are published on the Trentino Lavoro portal by
        companies supported by Trentino Sviluppo. Only with the best talents can we make local companies grow!
      </p>
      <div class="btn btn-outline-light pt-2">Look at the offers</div>
    </div>
  </div>
</a>
