<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/img/small-logo.svg" alt="logo" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/support-us">Support us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/events">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/retreat">Retreat v{{site.RETREAT_EDITION}}</a>
        </li>
      </ul>
      <div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-primary fs-3" href="https://t.me/speckandtech">
              <i class="bi bi-telegram"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-primary fs-3" href="https://instagr.am/speckandtech">
              <i class="bi bi-instagram"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-primary fs-3" href="https://youtube.com/c/speckandtech">
              <i class="bi bi-youtube"></i>
            </a>
          </li>
           <li class="nav-item">
            <a class="nav-link text-primary fs-3" href="https://www.linkedin.com/company/speck&tech">
              <i class="bi bi-linkedin"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-primary fs-3" href="https://twitter.com/speckandtech">
              <i class="bi bi-twitter"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-primary fs-3" href="https://fb.me/speckandtech/">
              <i class="bi bi-facebook"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
