@font-face {
  font-family: Neo Sans;
  font-weight: 900;
  src: url("font/neo-sans/NeoSansStd-Black.otf") format("opentype");
}

@font-face {
  font-family: Neo Sans;
  font-weight: bold;
  src: url("font/neo-sans/NeoSansStd-Bold.otf") format("opentype");
}

@font-face {
  font-family: Neo Sans;
  font-weight: 500;
  src: url("font/neo-sans/NeoSansStd-Medium.otf") format("opentype");
}

@font-face {
  font-family: Neo Sans;
  font-weight: 400;
  src: url("font/neo-sans/NeoSansStd-Regular.otf") format("opentype");
}

@font-face {
  font-family: Neo Sans;
  font-weight: 200;
  src: url("font/neo-sans/NeoSansStd-Ultra.otf") format("opentype");
}
