@import 'flexbox';
@import 'homepage-animations';

.homepage {
  // background: url('../img/home-background.jpg');
  background: url($home-backgroud-img-url) top center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 20px;
}

#intro, .next-speaker {
  $border-bottom: 10px;
  text-align: center;
  height: auto;
  margin-top: 6vw;
  @include flexbox();
  @include justify-content(center);

  & > div {
    @include align-self(center);
    width: 100%;
    margin-bottom: 5vh;
  }

  h1 {
    color: $red;
    font-size: 3.8em;
    margin-top: .5em;
    margin-bottom: 0;
  }

  .claim {
    font-size: 27px;
    .typed-cursor {
      color: $red;
    }
  }

  #call-to-action {
    width: 100%;
    @include flexbox();
    @include flex-wrap(wrap);
    @include flex-direction(column);
    @include justify-content(space-evenly);
  }

  .action {
    flex-grow: 1;
  }

  .event-container {
    @include flexbox();
    @include flex-direction(row);
    @include justify-content(space-evenly);

    @include small-screen {
      @include flex-direction(column);

      div {
        margin: 2vh 0 2vh 0;
      }
    }
  }

  em {
    position: absolute;
    bottom: 0;
    margin-bottom: 10vw;
    left: 0;
  }

  p {
    width: 50vw;

    @include small-screen {
      width: 80vw;
    }

    text-align: center;
    line-height: 1.6;
    margin: 10px auto 0;
  }

  .next-meetup {
    font-variant: small-caps;
  }

  .other-kind-of-events {
    margin-top: 2vw;
  }

  h3 {
    font-size: 3vw;
    line-height: 1.5;

    @include small-screen {
      font-size: 24px;
    }
    margin: 0;
  }

  h4 {
    font-size: 2vw;
    font-weight: normal;

    @include small-screen {
      font-size: 18px;
    }
    margin: 0;
  }
}

.btn {
  font-size: 24px;
  line-height: 1.2;
  background: $red;
  color: white;
  display: inline-block;
  margin-top: 15px;
  padding: 16px 24px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 13px;

  &:hover {
    background: darken($red, 10%);
    color: white;
  }

  &:visited {
    color: white;
  }

  @include small-screen {
    font-size: 20px;
  }
}

.btn-disabled {
  font-size: 16px;
  background: $grey;
  color: white;
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    background: darken($grey, 10%);
    cursor: default;
  }
}
.btn-facebook {
  font-size: 16px;
  background: $fb-blue;
  color: white;
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    background: darken($fb-blue, 10%);
  }
}

.next-sponsor {
  background: #f77c85;
  margin-top: 3em;
}

.next-speaker {
  margin-top: 0;
  background: $red;
}

.next-speaker, .next-sponsor {
  margin-bottom: 0;
  padding: 2em 0;
  color: white;
  text-align: center;
  display: block;
  h2 {
    font-size: 2em;
    margin-bottom: .8em;
    color: white;
  }
  p {
    .btn {
      background: white;
      color: $red;
      &:hover {
        background: #fafafa;
      }
      &:visited {
        color: $red;
      }
    }
  }
}

#btn-intro {
  margin-top: 1em;
  font-size: 1.6em;
  font-weight: normal;
}

#about-homepage {
  max-width: 780px;
  margin: 2vw auto;

  p {
    font-size: 24px;
    line-height: 1.5em
  }
}

#partners {
  text-align: center;
  margin-top: 5em;

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  @include small-screen {
    display: flex;
    flex-direction: column;

    a {
      flex-basis: 216px;
    }
  }

  a {
    text-decoration: none;
  }

  img {
    margin: 8px 20px;
    @include small-screen {
      margin: 10px 0;
    }
  }


}

#media-partners{
  text-align: center;
  margin-top: 2em;
  h3 {
    margin-bottom: .3em;
  }
}

#events, #jobs {
  max-width: 780px;
  margin: 0 auto;

  h2 {
    margin-top: 1.8em;
    margin-bottom: .8em;
    color: $red;
    text-align: center;
    font-size: 56px;
  }
  .date {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 9px;
  }

  h3 {
    font-size: 38px;
    margin-top: 0;
    margin-bottom: .3em;
    color: black;
  }
}

@include small-screen {
  section {
    padding: 0 20px;
  }

  #intro {
    h1 {
      font-size: 3em;
    }
    .claim {
      font-size: 21px;
    }
  }

  .homepage {
    background-repeat: no-repeat;
    background-size: auto;
  }
}
