@import 'flexbox';

a {
  color: $red;
  &:hover {
    color: darken($red, 10%);
  }
}

nav {
  position: absolute;
  left: 0;
  right: 0;
  text-align: right;
  padding: 1vh;
}

#homepage {
  $border-bottom: 10px;

  border-bottom: $border-bottom solid $red;

  @include sans-serif();
  @include flexbox();
  @include justify-content(center);
  height: calc(100vh - #{$border-bottom});

  & > div {
    @include align-self(center);
    margin-bottom: 10vh;
  }


  h1 {
    font-size: 8vw;
    margin: 0;
    @include monospaced();
  }

  h3 {
    font-size: 3vw;
    margin: 0;
    @include monospaced();
  }

  p {
    width: 40vw;
    text-align: center;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.6;
  }

  .btn {
    background: $red;
    color: white;
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;

    
    &:hover {
      background: darken($red, 10%);
    }
  }
}