@import 'flexbox';
@import 'homepage-animations';

.homepage {
  background: url('../img/city.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

#intro {
  $border-bottom: 10px;

  text-align: center;
  height: 80vh;
  @include flexbox();
  @include justify-content(center);

  & > div {
    @include align-self(center);
    margin-bottom: 5vh;
  }

  h1 {
    color: $red;
    font-size: 3.8em;
    margin-top: .5em;
    margin-bottom: 0;
  }

  .claim {
    font-size: 27px; 
    .typed-cursor {
      color: $red;
    }
  }

  em {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  p {
    width: 50vw;

    @include small-screen {
      width: 80vw;
    }

    text-align: center;
    line-height: 1.6;
    margin: 10px auto 0;
  }

  .next-meetup {
    font-variant: small-caps;
  }

  h3 {
    font-size: 3vw;

    @include small-screen {
      font-size: 18px;
    }
    margin: 0;
  }

  .btn {
    font-size: 16px;
    background: $red;
    color: white;
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      background: darken($red, 10%);
    }
  }
}

#about-homepage {
  max-width: 780px;
  margin: 0 auto;

  p {
    font-size: 24px;
  }
}

#events {
  max-width: 780px;
  margin: 0 auto;

  h2 {
    margin-top: 1.8em;
    margin-bottom: .8em;
    color: $red;
    text-align: center;
    font-size: 56px;
  }
  .date {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 9px;
  }

  h3 {
    font-size: 38px;
    margin-top: 0;
    margin-bottom: .3em;
    color: black;
  }
}

@include small-screen {
  section {
    padding: 0 20px;
  }

  #intro {
    h1 {
      font-size: 3em;
    }
    .claim {
      font-size: 21px;
    }
  }
}