$red: #e7424f;
$ligth-blue: #42E7DA;
$grey: #bdbdbd;
$fb-blue: #3b5998;

$break-monitor: 1280px;
$mobile: 460px;

$home-backgroud-img-url:'../img/home-background.jpg';

@mixin small-screen() {
  @media (max-width : $break-monitor) {
    @content;
  }
}

@mixin mobile() {
	@media (max-width: $mobile) {
		@content;
	}
}
