$red: #e7424f;
$grey: #bdbdbd;
$fb-blue: #3b5998;

$break-monitor: 768px;
$mobile: 460px;

@mixin small-screen() {
  @media (max-width : $break-monitor) {
    @content;
  }
}

@mixin mobile() {
	@media (max-width: $mobile) {
		@content;
	}
}
