@import "vars";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

// Variable overrides first
$primary: $red;
$enable-shadows: true;
$prefix: "mo-";
$font-family-sans-serif: "Neo Sans", sans-serif;
$enable-cssgrid: true;
$enable-grid-classes: true;
$display-font-weight: 500;

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 6,
  7: $spacer * 12,
  8: $spacer * 24,
) !default;

$utilities: (
  "width": (
    property: width,
    class: w,
    responsive: true,
    values: (
      0: 0,
      10: 10%,
      20: 20%,
      30: 30%,
      40: 40%,
      50: 50%,
      60: 60%,
      90: 90%,
      100: 100%,
    ),
  ),
);

@import "./bootstrap/bootstrap";
@import "font";
@import "homepage-animations";
@import "post";
@import "retreat";

.bg-ligth-blue {
  background-color: $ligth-blue;
}

.bg-blue {
  background-color: $blue;
}

.text-red {
  color: $red;
}
.text-blue {
  color: $blue;
}

.hover:text-primary {
  &:hover {
    color: $red;
  }
}

.no-underline {
  text-decoration: none;
}

#intro {
  min-height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
}

.text-lg {
  font-size: 20px;
  line-height: 1.75em;
}

.unstyled-list {
  list-style: none;
  padding-left: 0;
}

.img-in-background {
  width: 200px;
  max-width: 200px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

// Bad code

.logo_container {
  display: block;
  width: 200px;
  height: 200px;

  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}
