@import "reset";
@import "syntax";
@import "vars";
@import "footer";
@import "homepage";
@import "archive";
@import "event";
@import "font";
@import "navbar";

body {
  background: white;
  font-size: 16px;
  font-family: 'Neo Sans', sans-serif;
}

a {
  color: $red;

  &:visited {
    color: darken($red,20%);
  }

  &:hover {
    color: darken($red, 20%);
  }
  &.noline {
    text-decoration: none;
  }
}

.underline {
  text-decoration: underline;
}

.container {
  margin: 0 auto;
  max-width: 900px;
  position: relative;
}

hr {
  border: 2px solid #E5E5E5;
  margin-bottom: 2em;
}
