@import "vars";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

// Variable overrides first
$primary: $red;
$enable-shadows: true;
$prefix: "mo-";
$font-family-sans-serif: "Neo Sans", sans-serif;
$enable-cssgrid: true;
$display-font-weight: 500;

@import "./bootstrap/bootstrap";
@import "font";
@import "homepage-animations";

.bg-ligth-blue {
  background-color: $ligth-blue;
}

.bg-blue {
  background-color: $blue;
}
.text-blue {
  color: $blue;
}

.hover:text-primary {
  &:hover {
    color: $red;
  }
}

#intro {
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#post {
  margin-bottom: 24px;

  iframe {
    width: 100% !important;
    max-width: 100% !important;
    margin-top: 8px;
    margin-bottom: 24px;
    border: 8px solid $red;
    border-radius: 8px;
  }

  h2 {
    margin-top: 24px;
    font-size: 32px;
  }
  h3 {
    font-size: 24px;
    color: $gray-600;
    margin-bottom: 16px;
  }

  h4 {
    font-size: 20px;
    font-weight: bolder;
  }

  p {
    font-size: 20px;
  }
}

.unstyled-list {
  list-style: none;
  padding-left: 0;
}
