<div class="card border border-5 border-primary h-100 py-5 px-3 text-center position-relative mx-md-auto w-md-60 w-lg-100 shadow">
  <div class="event-number position-absolute top-0 start-50 start-lg-0 translate-middle h1 p-4 bg-primary text-light rounded-circle -rotate-40 shadow">
    <p class="mb-0 text-light h1">{{ data.edition }}</p>
  </div>
  <span class="mt-4 mt-lg-0">NEXT MEETUP</span>
  <div class="event-container">
    <div>
      <h4 class="mt-2">
        {% if data.pre-title != '' %}
          <span>{{ data.pre-title }}</span>
          <br />
        {% endif %}
        <b class="text-red display-4">{{ data.title }}</b>
      </h4>
      {% if data.date != '' and data.type == "event" %}
        <h4 class="mt-4">
          📅 {{ data.date | date:"%d/%m/%y - %H:%M" }}
          <br />
          <span class="mt-3 d-block">📍
            <a target="_blank" href="{{ data.location.url }}">{{ data.location.name }}</a>
          </span>
        </h4>
      {% endif %}
      {% if data.type == "loading" and data.ticket-url != "" %}
        <p class="mt-5 h4">Tickets are already available on Eventbrite</p>
      {% endif %}
      {% if data.ticket-url != "" %}
        <a class="btn btn-primary text-white btn-lg mt-4"
           target="_blank"
           href="{{ data.ticket-url }}">Get your ticket!</a>
      {% else %}
        <a class="main-cta btn btn-primary text-white btn-lg mt-3"
           target="_blank"
           href="//t.me/speckandtech">Stay tuned!</a>
      {% endif %}
      {% if data.more-url != "" %}
        <a class="alternative-cta btn btn-outline-primary text-primary btn-lg mt-4"
           href="{{ data.more-url }}">Learn more</a>
      {% endif %}
      {% if data.sponsor.name != '' and data.type == "event" %}
        <div class="mt-5 position-relative">
          <p>powered by</p>
          <a class="w-60 d-block mx-auto"
             target="_blank"
             href="{{ data.sponsor.url }}">
            <img class="w-100 d-block"
                 src="{{ data.sponsor.logo }}"
                 alt="{{ data.sponsor.description }}"/>
          </a>
        </div>
      {% endif %}
      {% if data.partner.name != '' %}
        <div class="mt-5">
          <span>in partnership with</span>
          <a target="_blank" href="{{ data.partner.url }}">
            <img class="w-100"
                 src="{{ data.partner.logo }}"
                 alt="{{ data.partner.description }}"/>
          </a>
        </div>
      {% endif %}
    </div>
  </div>
</div>
