<div>
    <span class="next-meetup">prossimo evento</span>
    <div class="event-container">
      <div>
            <h4>
                <span>MUSE::Next</span><br>
                <b>Guida galattica per Specker</b>
            </h4>
        <h4>
            12/03/19 - 20:30 @ <a target="_blank" href="//goo.gl/maps/AcC5Lhoa4VS2">Muse</a>
        </h4>
        <div id="partner">
            <span>in collaborazione con</span>
            <a href="//www.muse.it/">
              <img src="/img/logo-muse.svg" alt="MUSE - Museo delle scienze">
            </a>
        </div>
        <a class="btn" target="_blank" href="//bit.ly/muse-next1">Registrati!</a>
      </div>
    </div>
  </div>
