{% assign pre-title = 'MUSE::Next' %}
{% assign title = 'Homo Faber' %}
{% assign year = '2019' %}
{% assign month = '04' %}
{% assign day = '09' %}
{% assign time = '20:30' %}
{% assign location-name = 'Muse' %}
{% assign location-url = '//goo.gl/maps/AcC5Lhoa4VS2' %}
{% assign partner1-url = '//www.arduino.cc/' %}
{% assign partner1-des = 'Arduino Open-Source community' %}
{% assign partner1-logo = '/img/arduino_community-logo.svg' %}
{% assign partner2-url = '//fablab.muse.it/' %}
{% assign partner2-des = 'MUSE FABLAB' %}
{% assign partner2-logo = '/img/muse_fablab-logo.png' %}
{% assign partner3-url = '//www.muse.it/' %}
{% assign partner3-des = 'MUSE - Museo delle scienze' %}
{% assign partner3-logo = '/img/logo-muse.svg' %}
{% assign sponsor-url = '//www.openmove.com' %}
{% assign sponsor-des = 'Open Move' %}
{% assign sponsor-logo = '/img/openmove.png' %}
{% assign ticket-url = '//bit.ly/agri-hack' %}
{% assign ticket-url2 = '//bit.ly/muse-next2' %}


<div>
    <span class="next-meetup">prossimi eventi</span>
    <div class="event-container horizontal">
      <div>
        <h4>
            <b>Agri-Hack</b>
        </h4>
        <h5>
          13/04/2019
        </h5>
        <h6>
            10:00 @ <a target="_blank" href="{{location-url}}">{{location-name}}</a>
        </h6>
        <div id="partner">
          <span>in collaborazione con</span>
          <a href="{{partner1-url}}">
            <img src="{{partner1-logo}}" alt="{{partner1-des}}">
          </a>
          <a href="{{partner2-url}}">
            <img id="fablabLogo" src="{{partner2-logo}}" alt="{{partner2-des}}">
          </a>
      </div>
          <a class="btn" target="_blank" href="{{ticket-url}}">Iscriviti!</a>
      </div>
      <div>
        <h4>
            {% if pre-title != '' %}
              <span class="pre-title">{{ pre-title }}</span><br>
            {% endif %}
            <b>{{ title }}</b>
        </h4>
        <h5>
            {{day}}/{{month}}/{{year}}
        </h5>
        <h6>
            {{time}} @ <a target="_blank" href="{{location-url}}">{{location-name}}</a>
        </h6>
        <div id="partner">
            <span>sponsorizzato da</span>
            <a href="{{sponsor-url}}">
              <img id="openmove-logo" src="{{sponsor-logo}}" alt="{{sponsor-des}}">
            </a>
            <span>in collaborazione con</span>
            <a href="{{partner3-url}}">
              <img src="{{partner3-logo}}" alt="{{partner3-des}}">
            </a>
        </div>
          <a class="btn" target="_blank" href="{{ticket-url2}}">Registrati!</a>
      </div>

    </div>
  </div>
