{% assign pre-title = '' %}
{% assign title = 'Highway to Speck' %}
{% assign year = '2019' %}
{% assign month = '07' %}
{% assign day = '31' %}
{% assign time = '20:30' %}
{% assign location-name = 'Le Gallerie' %}
{% assign location-url = '//goo.gl/maps/so3Rj6nHT4nVnfNM9' %}
{% assign ticket-url = '//bit.ly/ST-33' %}

<div>
    <span class="next-meetup">prossimo evento</span>
    <div class="event-container">
      <div>
        <h4>
          {% if pre-title != '' %}
            <span>{{ pre-title }}</span><br>
          {% endif %}
          <b>{{ title }}</b>
        </h4>
          <h4>
            {{day}}/{{month}}/{{year}} - {{time}} @ <a target="_blank" href="{{location-url}}">{{location-name}}</a>
          </h4>
          <a class="btn" target="_blank" href="{{ticket-url}}">Get your ticket!</a>
      </div>
    </div>
  </div>
