{% assign pre-title = '' %}
{% assign title = 'Retreat v2' %}
{% assign year = '2019' %}
{% assign month = 'October' %}
{% assign day = '18-20' %}
<!--{% assign time = '20:30' %}-->
{% assign location-name = 'Val di Sole' %}
{% assign location-url = '//goo.gl/maps/Thj3ppkuWJtLDkax7' %}
{% assign ticket-url = '//speckand.tech/retreat' %}

<div>
    <span class="next-meetup">next meetup</span>
    <div class="event-container">
      <div>
        <h4>
          {% if pre-title != '' %}
            <span>{{ pre-title }}</span><br>
          {% endif %}
          <b>{{ title }}</b>
        </h4>
          <h4>
            <!--{{day}}/{{month}}/{{year}} - {{time}} @ <a target="_blank" href="{{location-url}}">{{location-name}}</a>-->
            {{day}} {{month}} {{year}} @ <a target="_blank" href="{{location-url}}">{{location-name}}</a>
          </h4>
          <a class="btn" target="_blank" href="{{ticket-url}}">Get your ticket!</a>
      </div>
    </div>
  </div>
