{% assign pre-title = 'MUSE::Next' %}
{% assign title = 'Guida galattica per Specker' %}
{% assign year = '2019' %}
{% assign month = '03' %}
{% assign day = '12' %}
{% assign time = '20:30' %}
{% assign location-name = 'Muse' %}
{% assign location-url = '//goo.gl/maps/AcC5Lhoa4VS2' %}
{% assign partner-url = '//www.muse.it/' %}
{% assign partner-des = 'MUSE - Museo delle scienze' %}
{% assign partner-logo = '/img/logo-muse.svg' %}
{% assign ticket-url = '//bit.ly/muse-next1' %}
{% assign sponsor-url = '//www.dimension.it/' %}
{% assign sponsor-des = 'Dimension' %}
{% assign sponsor-logo = '/img/dimension-logo.svg' %}

<div>
    <span class="next-meetup">next meetup</span>
    <div class="event-container">
      <div>
        <h4>
          {% if pre-title != '' %}
            <span>{{ pre-title }}</span><br>
          {% endif %}
          <b>{{ title }}</b>
        </h4>
          <h4>
            {{day}}/{{month}}/{{year}} - {{time}} @ <a target="_blank" href="{{location-url}}">{{location-name}}</a>
          </h4>
          <div id="partner">
            <span>sponsored by</span>
            <a href="{{sponsor-url}}">
              <img src="{{sponsor-logo}}" alt="{{sponsor-des}}">
            </a>
            <span>in partnership with</span>
            <a href="{{partner-url}}">
              <img src="{{partner-logo}}" alt="{{partner-des}}">
            </a>
          </div>
          <a class="btn" target="_blank" href="{{ticket-url}}">Tickets!</a>
      </div>
    </div>
  </div>