{% assign title = 'Highway to Speck' %}
{% assign year = '2019' %}
{% assign month = '07' %}
{% assign day = '31' %}
{% assign time = '20:30' %}
{% assign location-name = 'Le Gallerie' %}
{% assign location-url = '//goo.gl/maps/so3Rj6nHT4nVnfNM9' %}
{% assign ticket-url = '//bit.ly/ST-33' %}
{% assign sponsor-url = '//developer.here.com/events/community-italy' %}
{% assign sponsor-des = 'HERE' %}
{% assign sponsor-logo = '../../img/HERE_logo.png' %}

<div>
    <span class="next-meetup">next meetup</span>
    <div class="event-container">
      <div>
        <h4 style="line-height: 2.25;">
            <b>{{title}}</b>
          </h4>
          <h4>
            {{day}}/{{month}}/{{year}} - {{time}} @ <a target="_blank" href="{{location-url}}">{{location-name}}</a>
          </h4>
          <div id="partner">
            <span>sponsored by</span>
            <a href="{{sponsor-url}}">
              <img src="{{sponsor-logo}}" alt="{{sponsor-des}}">
            </a>
          </div>
          <a class="btn" target="_blank" href="{{ticket-url}}">Get your ticket!</a>
      </div>
    </div>
  </div>
