<div>
    <span class="next-meetup">next meetup</span>
    <div class="event-container">
      <div>
        <h4 style="line-height: 2.25;">
            <b>Open Security</b>
          </h4>
          <h4>
            26/02/19 - 20:45 @ <a target="_blank" href="//goo.gl/maps/u7ViDQARDvL2">Impact Hub Trentino</a>
          </h4>
          <div id="partner">
            <span>sponsored by</span>
            <a href="//www.xpeppers.com" target="_blank">
              <img src="/img/XPeppers_logo.png" alt="XPeppers | Agile innovation">
            </a>
            <span>in partnership with</span>
            <a href="//www.disi.unitn.it/">
              <img src="/img/DISI-centrale.png" alt="Department of Information Engineering and Computer Science of the University of Trento">
            </a>
          </div>
          <a class="btn" target="_blank" href="//bit.ly/ST-31">Tickets!</a>
      </div>
    </div>
  </div>