{% assign title = 'Scalability' %}
{% assign year = '2019' %}
{% assign month = '06' %}
{% assign day = '11' %}
{% assign time = '20:30' %}
{% assign location-name = 'CLab Trento' %}
{% assign location-url = '//goo.gl/maps/roKQLDdNqMzXyXUu5' %}
{% assign sponsor-url = '//bendingspoons.com' %}
{% assign sponsor-des = 'Bending Spoons' %}
{% assign sponsor-logo = '//storage.googleapis.com/images.bendingspoons.com/others/google.png' %}
{% assign ticket-url = '//bit.ly/ST-32' %}

<div>
    <span class="next-meetup">next meetup</span>
    <div class="event-container">
      <div>
        <h4 style="line-height: 2.25;">
            <b>{{title}}</b>
          </h4>
          <h4>
            {{day}}/{{month}}/{{year}} - {{time}} @ <a target="_blank" href="{{location-url}}">{{location-name}}</a>
          </h4>
          <div id="partner">
            <span>sponsored by</span>
            <a href="{{sponsor-url}}">
              <img src="{{sponsor-logo}}" alt="{{sponsor-des}}">
            </a>
          </div>
          <a class="btn" target="_blank" href="{{ticket-url}}">Tickets!</a>
      </div>
    </div>
  </div>
